body {

    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;

}

.center {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}