@font-face {
    font-family: 'Verdana';
    src: url('../fonts/verdana.ttf');
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Verdana', sans-serif;
}

.header {
	margin-top: 50px;
}

.header-grid {
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
	width: 1066px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
	height: 45px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

.header-logo-img {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    display: inline-block;
    transition: all 0.4s;
}

.header-logo-text {
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.4s;
}

.header-logo-bigger {
    font-size: 29px;
}

.header-logo-text span {
    display: block;
}

.header-logo:hover .header-logo-text {
    color: #f26522;
}

.header-logo:hover .header-logo-img {
    background-image: url(../img/logo_orange.png);
}

.header-contacts-item {
    color: #fff;
    text-align: right;
    font-size: 18px;
}

.content-block {
	margin-bottom: 58px;
    text-decoration: none;
    position: relative;
}

.border{
	  width: 307px;
	  height: 200px;
	  background: #eee;
	  border: 2px solid transparent;
	  border-image: linear-gradient(to bottom, #fff 0%, #000 100%);
	  border-image-slice: 1;
	}

.image-description {
	color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 22px;
}

.main-content-grid {
    margin-top: 48px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center
}

.info-block {
	height: 63px;
    width: 311px;
    background-color: #f26522;
    position: absolute;
    bottom: 15%;
    transition: all 0.5s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    opacity: 0;
}

.content-block:hover .info-block {
    opacity: 1;
    bottom: 17%;
}

.content-block:hover .image-description {
    color: #f26522;
    transition: all 0.4s;
}

.info-block-text {
    color: #fff;
}

.info-block-text-from {
    font-size: 10px;
}

.info-block-text-price {
    font-size: 20px;
}

.info-block-text-details {
    font-size: 14px;
}

.info-block-text-details::after {
    content: '\003E';
    position: relative;
    left: 15px;
}

.info-block-text span {
    display: block;
}

.info-block p {
	margin-left: 21px;
    margin-bottom: 17px;
    margin-right: 40px;
}

.copyright {
	color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}